:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

.logo {
  font-family: Raleway, cursive;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__item {
  color: #000000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .current {
    color: var(--accent-color);
  }
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    position: absolute;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--accent-color);
    border-radius: 2px;
  }
  .current:hover::after {
    opacity: 1;
  }
}

.btn {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__list {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .navigation__link {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-color);
  }
}

.auth {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth {
    display: flex;
    flex-direction: column;
  }
  .auth__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .auth__link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth__link:hover, .auth__link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .auth__link:hover, .auth__link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .auth {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}

.header__auth {
  margin-left: auto;
}

.menu-btn-open {
  background: #ffffff;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .menu-btn-open {
    display: none;
  }
}

.menu-btn-close {
  background: #ffffff;
}

.mob-menu {
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 48px;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn-close {
  display: block;
  margin-left: auto;
  border: transparent;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn-close:hover, .menu-btn-close:focus {
  fill: var(--accent-color);
}

.mob-menu-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: var(--accent-color);
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-auth {
  margin-bottom: 64px;
}
.mob-auth-tel {
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
.mob-auth-mail {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-soc {
  display: flex;
  align-items: center;
}
.mob-soc-item {
  padding: 0 10px;
}
.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-image: var(--background-gradient), url(../images/hero-bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  margin: auto;
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--background-gradient), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--background-gradient), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--background-gradient), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: var(--background-gradient), url(../images/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--background-gradient), url(../images/hero-bg-2x.jpg);
  }
}

.features__promo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__subtitle {
  text-align: center;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: start;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
  }
}
.work-title {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work-title {
    display: block;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
.work-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work-list {
    display: flex;
  }
}
.work-item {
  position: relative;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.work-filter {
  display: flex;
  align-items: center;
  width: 370px;
  height: 70px;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
}
.work-filter-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.team {
  background: #f5f4fa;
}
.team-title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}
.team-card {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #fff;
}
.team-subtitle {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.team-soc-icon {
  fill: currentColor;
}

.clients-title {
  color: var(--title-text-color);
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    flex-direction: row;
    align-items: baseline;
    gap: 70px;
  }
}
.footer .logo-item {
  color: var(--primary-white-color);
}
.footer > .logo {
  margin-bottom: 20px;
  text-decoration: none;
}
.footer__section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    align-items: flex-start;
    margin-bottom: 0;
  }
}
.footer-address .address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-address .address-list {
    align-items: flex-start;
  }
}
.footer-link {
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-soc {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 206px;
  height: 80px;
}
.footer-soc-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .footer-soc-title {
    text-align: left;
  }
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.footer-icon {
  fill: currentColor;
}
.footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover, .footer-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}

.address-link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.online-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .online-form {
    flex-direction: row;
    gap: 0px;
  }
}

.online-input {
  padding-left: 16px;
  width: 420px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 50px;
  margin-right: 12px;
  color: var(--primary-white-color);
}
.online-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.online-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.online-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .online-input {
    width: 358px;
  }
}

.online-icon {
  display: block;
  margin-left: 10px;
  fill: var(--primary-white-color);
}

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter {
    display: flex;
    justify-content: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
    margin-bottom: 56px;
  }
}

.portfolio-btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title:hover, .portfolio-title:focus {
  color: var(--accent-color);
}

.portfolio-text {
  font-style: normal;
  color: #757575;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 90px) / 3);
  }
}

.filter-card {
  position: relative;
  overflow: hidden;
}

.filter-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.filter-card-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px 63px;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .filter-card-text {
  transform: translateY(0);
  overflow: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  width: 450px;
  top: 93px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform, scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
  }
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.modal-text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:focus {
  outline-color: var(--accent-color);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.modal-close {
  display: flex;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
}
.form-input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input:focus {
  outline-color: var(--accent-color);
}

.input-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-title {
  display: block;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  margin-bottom: 30px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.input-check:checked + .check-text .check-icon {
  fill: var(--primary-white-color);
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.check-link {
  display: block;
  margin-left: 5px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .check-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.check-icon {
  display: block;
  justify-content: center;
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */