.clients-title {
  color: var(--title-text-color);
  @include font($fw: 700);
  margin-bottom: 50px;
  text-align: center;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  width: 210px;
  @include desktop {
    width: 170px;
  }
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
.clients-icon {
  fill: currentColor;
}
