.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
  @include tablet {
    justify-content: center;
  }
  @include desktop {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 56px;
  }
}

.portfolio-btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  @include font(500, 16, 1.63);
  text-align: center;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  @include font(700, 18, 2, 00.06em);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.portfolio-text {
  font-style: normal;
  color: #757575;
  text-decoration: none;
  @include font(400, 16, 1.88);
}
.portfolio-link {
  display: block;
  text-decoration: none;
  color: var(--title-text-color);
  @include font(700, 18, 2, 00.06em);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }
}

.filter-card {
  position: relative;
  overflow: hidden;
}
.filter-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  @include tablet {
    flex-grow: 1;
  }
}

.filter-card-text {
  position: absolute;
  top: 0;
  left: 0;
  @include font(400, 18, 1.56);
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px 63px;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .portfolio-item:hover & {
    transform: translateY(0);
    overflow: auto;
  }
}
